* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #eee;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.food-content {
  display: grid;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .food-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }

  .food-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .food-content {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
